.first {
  font-size: 40px;
}
h2 {
  color: rgb(255, 0, 0);
  font-size: 50px;
}
.f {
  width: 75%;
}
    
.second {
  font-size: 20px;
  color: red;
}
.yes {
  color: aquamarine;
}
.awp {
  color: brown;
  font-size: 30px;
}
.dsa {
  color: blueviolet;
  font-size: 30px;
}
.a {
  color: crimson;
  font-size: 20px;
}
.s {
  color: rgb(64, 74, 136);
  font-size: 20px;
}
.d {
  color: blue;
  font-size: 20px;
}
.q {
  font-size: 20px;
  color: khaki;
}