.first {
  font-size: 40px;
  font-weight: bold;

}
h2 {
  color: rgb(255, 0, 0);
  font-size: 50px;
}
.f {
  width: 75%;
  text-align: center;
}
    
.second {
  font-size: 20px;
  color: red;
}
.yes {
  color: aquamarine;
}
.awp {
  color: brown;
  font-size: 30px;
}
.dsa {
  color: blueviolet;
  font-size: 30px;
  font-family: fantasy;
  font-style: oblique;
  border: 10px black;
}
.a {
  color: blue;
  font-size: 20px;
  font-style: italic;
}
.s {
  color: rgb(0, 25, 185);
  font-size: 20px;
  font-style: italic;
}
.d {
  color: blue;
  font-size: 20px;
  font-style: italic;
}
.q {
  font-size: 20px;
  color: blue;
  font-style: italic;
}
header li {
  list-style: none;
}
a:link, a:visited {
  text-decoration: none;
  background-color: rgb(0, 238, 255);
  border: black 1px;
  color: black;
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
a:hover, a:active {
  background-color: red;
  color: black;
  
}
#gallery {
  -moz-user-select: none; user-select: none;
}
#gallery img {
  max-width: 200px;
  max-height: 150px;
  cursor: zoom-in;
}
#gallery img:focus {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 31;
  max-width: 100%;
  max-height: 100%;
  outline: none;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-user-select: none; user-select: none;
}
#gallery img:hover ~ div {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background: rgba(240,240,240,.9);
  cursor: zoom-out;
}
#gallery {
  display: inline-block;
  overflow: hove; 
}
#gallery img {
  transition: 1s; 
  display: block;
}
#gallery img:hover {
  transform: scale(1,2);
}
#gallery{
  display: flex;
  justify-content: flex-end;
}